/*Les styles généraux*/
body {
    background: linear-gradient(to bottom right, #8bc0ec, #9599e2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form {
    background-color: white;
    width: 60vw;
    height: 80%;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 50vh;
    transform: translateY(-38vh);
    display: flex;  
    margin-bottom: 13%;    
}
.generalInfo, .contact {
    width: 50%;
    height: inherit;    
}
.generalInfo h3, .contact h3 {
   padding: 1.1rem;   
   font-weight: bold;
   font-size: 2rem;  
   margin-left: 5%; 
   margin-bottom: 1%;
}
select {
    margin-top: 1%;
}
input, select{
    width: 84%;
    height: 2.5rem !important;
    margin-left: 8%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background-color: inherit; 
    font-size: 1.2rem;   
}
input:focus, select:focus {
    outline: none;
}
.form-control {
    margin: auto;
    height: 7vh;
}
.groupControl {
    display: flex;    
}
.groupControl .insideControl {   
    width: 41.5%;
    margin-left: 5%;
}
.groupControl .insideControlLong {
    width: 59.5%;
    margin-left: 5%;
}
.groupControl .insideControlShort {
    width: 30.5%;
    margin-left: 5%;
}
.groupControl .insideControl2 {
    margin-left: 0%;
    
}
.groupControl .insideControl1 {
    margin-left: 3%;
}
/*Les styles pour la section generalInfo*/
.generalInfo h3 {
    color: #63B8FF;
}
.generalInfo .form-control #lastname,.generalInfo .form-control #firstname {
    width: 95%;   
}
.generalInfo .form-control #lastname
 {
    margin-left:-7.3%;    
}
.generalInfo .form-control #employee {
    width: 100%;
    margin-left: -1%;
}
.generalInfo select, .generalInfo input {
    color: rgb(122, 118, 118);
}
.generalInfo input {
    border-bottom: 1px solid rgb(122, 118, 118);
}

/*Les styles pour la section contact*/
.contact {
    background-color: #4f54d4;
    border-radius: 0 10px 10px 0; 
}
.contact h3, .contact select {
    color: #FAFEFF;
}
.contact input::placeholder, .contact input {
    color: #FAFEFF;
}
.contact select {
   background-color: #4f54d4;
}
.contact #badge {
    color: black;
    height: 5vh;
    width: 28%;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    margin: 7%;
    cursor: pointer;
}

.contact .insideControlLong {
    width: 65%;
    margin-left: -6.3%;
}

   /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 4%;
    margin-bottom: 12px;
    margin-left: 7%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #4f54d4;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #4f54d4;
    border: 1px solid white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    position: relative;
    top: 10%;
    margin: auto;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
    background: white;

  } 
  #condition {
    margin-left: 3%;
    position: relative;
    bottom: 6.5%;
  }
  .container, #condition {
      display: inline;
  }
  .contact #condition,  #condition a{
    color: #FAFEFF;
}
.contact #ofYourSite {
    position: relative;
    top: 25px;
    left : -50%;
}
  
  